<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jason.gymkata">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MemberActivity"
            android:label="@string/title_activity_member"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jason.gymkata.MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jason.gymkata.MainActivity" />
        </activity>
        <activity
            android:name=".AttendanceListActivity"
            android:label="@string/title_activity_attendance_list"
            android:parentActivityName=".MemberActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jason.gymkata.MemberActivity" />
        </activity>
        <activity
            android:name=".TestDatePickerActivity"
            android:label="@string/title_activity_test_date_picker"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jason.gymkata.MainActivity" />
        </activity>
        <activity
            android:name=".RunModeActivity"
            android:label="@string/title_activity_run_mode"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
        activity
            android:name=".AttendanceActivityOld"
            android:label="@string/title_activity_attendance"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jason.gymkata.AttendanceListActivity" />
        </activity
        -->
        <activity
            android:name=".AttendanceActivity"
            android:label="@string/title_activity_attendance"
            android:parentActivityName=".AttendanceListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jason.gymkata.AttendanceListActivity" />
        </activity>
        <activity
            android:name=".ExportActivity"
            android:label="@string/title_activity_export"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jason.gymkata.MainActivity" />
        </activity>
        <activity
            android:name=".ImportActivity"
            android:label="@string/title_activity_import"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jason.gymkata.MainActivity" />
        </activity>
    </application>

</manifest>
